---
layout: default
title: "Salón en Venta en El Altico Neiva - Versátil Inversión"
description: "Una propiedad en la mejor ubicación de crecimiento comercial de Neiva: proyección para oficinas, co-living, institutos eductativos, etc. Llámanos!"
---

<!-- Description Section -->
<section class="description wrapper">
  <div class="flow">
    <small>¿Por qué esta ubicación es tan codiciada?</small>
    <h2>La joya escondida del ático de la ciudad de Neiva</h2>
    <p>
      Durante 50 anos, esta propiedad ha sido testigo silencioso del crecimiento
      de Neiva. Hoy, <strong>en medio de hospitales universitarios y centros educativos</strong
      >, se levanta como el lienzo perfecto para tu próximo proyecto empresarial.
    </p>
  </div>
  <div class="description_copy">
    <ul class="deseos">
      <li>🏥 A pasos del Hospital Universitario</li>
      <li>🎓 Rodeado de instituciones educativas</li>
      <li>🏢 Zona comercial establecida</li>
      <li>🚗 Sobre una via principal de 4 carriles</li>
      <li>🏦 Cerca de instituciones financieras</li>
      <li>🏫 A pocos metros de universidades</li>
    </ul>
  </div>
</section>

{% include carousel.html %}

<!-- Rooms & Suites Section -->
<section class="description wrapper">
  <div>
    <h2>Más que una propiedad, es un centro de oportunidades</h2>
    <p>
      Mientras otros ven un salón de conferencias, <strong>los visionarios</strong> ven:
    </p>
  </div>
  <div class="description_copy">
    <ul class="deseos">
      <li>🏥 Una clínica especializada</li>
      <li>🎓 Un instituto educativo</li>
      <li>💼 Un centro empresarial</li>
      <li>🍽️ Un restaurante exclusivo</li>
      <li>🛏️ Un co-living</li>
      <li></li>
    </ul>
  </div>
</section>

<!-- Explore the Island Section -->
<section class="explore explore2 flow">
  <small>El secreto del éxito</small>
  <h2>
    Ubicada en el microcentro de Neiva, esta propiedad está en el epicentro del desarrollo comercial y profesional de la ciudad.
  </h2>
  {% include boton.html %}
</section>
<section class="wrapper rooms">
  <small>Características que enamoran</small>
  <h2>Los números hablan por sí solos</h2>
  <div class="room-cards">
    <div class="room-card">
      <img src="{{'img/interior.avif'}}" alt="Deluxe Suite" loading="lazy">
      <p>📐 406 m2 de terreno total</p>
    </div>
    <div class="room-card">
      <img src="{{'img/interior4.avif'}}" alt="Junior Suite" loading="lazy">
      <p>🏗️ 223.5 m2 de construcción</p>
    </div>
    <div class="room-card">
      <img src="{{'img/frente2.avif'}}" alt="Suite Nivel Superior" loading="lazy">
      <p>🎯 8 ambientes versátiles</p>
    </div>
    <div class="room-card">
      <img src="{{'img/interior6.avif'}}" alt="Suite Nivel Superior" loading="lazy">
      <p>👥 Salón para 180 personas</p>
    </div>
    <div class="room-card">
      <img src="{{'img/interior11.avif'}}" alt="Suite Nivel Superior" loading="lazy">
      <p>🚿 Baños <strong>separados</strong> H/M</p>
    </div>
    <div class="room-card">
      <img src="{{'img/frente.avif'}}" alt="Suite Nivel Superior" loading="lazy">
      <p>🏍️ Parqueadero para motos</p>
    </div>
  </div>
</section>

<!-- Rooms & Suites Section -->
<section class="content rooms">
  <small>Los alrededores de la propiedad</small>
  <h2>Esta propiedad tiene 406 m2 de oportunidades</h2>
  <div class="room-cards">
    <div class="room-card">
      <h3>⬆️</h3>
      <p><b>Norte</b>: La Toma y Chapinero</p>
    </div>
    <div class="room-card">
      <h3>⬇️</h3>
      <p><b>Sur</b>: Estadio Urdaneta</p>
    </div>
    <div class="room-card">
      <h3>➡️</h3>
      <p><b>Oriente</b>: Calixto y San José</p>
    </div>
    <div class="room-card">
      <h3>⬅️</h3>
      <p><b>Occidente</b>: Circunvalar y Mártires</p>
    </div>
  </div>
  <div class="room-cards">
    <div class="room-card">
      <video autoplay="" muted="" loop="" playsinline="" preload="auto"> <source src="{{'videos/ubicacion.mp4' | relative_url}}" type="video/mp4"> Tu navegador no soporta la etiqueta de video. </video>
    </div>
    <div class="room-card">
      <video autoplay="" muted="" loop="" playsinline="" preload="auto"> <source src="{{'videos/interior.mp4' | relative_url}}" type="video/mp4"> Tu navegador no soporta la etiqueta de video. </video>
    </div>
    <div class="room-card">
      <video autoplay="" muted="" loop="" playsinline="" preload="auto"> <source src="{{'videos/salon.mp4' | relative_url}}" type="video/mp4"> Tu navegador no soporta la etiqueta de video. </video>
    </div>
  </div>
  <div class="description wrapper">
    <div class="description_copy left flow">
      <h3>¿Por qué este es el momento ideal?</h3>
      <p>
        Una inversión de <b class="resaltar">$880,000,000</b> respaldada por el
        crecimiento
      </p>
      <ol class="deseos">
        <li>Neiva está en plena expansión comercial</li>
        <li>La ubicación es irreemplazable</li>
        <li>Las propiedades de este tamaño son escasas</li>
        <li>El potencial de desarrollo es ilimitado</li>
      </ol>
    </div>
    <div class="flow left cta">
      <img src="{{'img/interior.avif'}}" alt="" >
      <h3>La oportunidad está aquí, el momento es ahora</h3>
    </div>
  </div>
</section>

<section class="description wrapper">
  <div>
    <img src="{{'img/mapa.jpeg'|relative_url}}" alt="Mapa de la propiedad" loading="lazy">
  </div>
  <div class="description_copy flow">
    <h2>El tiempo es tu mejor aliado o tu pero enemigo</h2>
    <p>
      Las grandes oportunidades no esperan. Los emprendedores exitosos saben que
      la diferencia entre el éxito y el “hubiera” esta en tomar acción cuando el
      momento es correcto
    </p>
    {% include boton.html %}
  </div>
</section>

<!-- Rooms & Suites Section -->
<section class="description wrapper">
  <div>
    <h2>¿Tienes preguntas sobre esta propiedad única?</h2>
  </div>

  <div class="description_copy left flow">
    <h3>Datos de contacto</h3>
    <ul class="flow">
      <li>☎️ <b>Teléfono:</b> 318 507 7815 / 317 373 0534</li>
      <li>📍 <b>Dirección:</b> Calle 8 # 9-49, Barrio Altico, Neiva</li>
    </ul>
  </div>
</section>
