<section class="gallery" id="portafolio">
  <div class="contenedor">
    <h2 class="subtitulo">Conoce la propiedad</h2>
    <div class="contenedor-galeria">
      {% for item in site.data.fotos %}
      <img
        src="{{ item.img | relative_url}}"
        alt="{{item.alt}}"
        class="img-galeria"
        loading="lazy"
      />
      {% endfor %}
    </div>
  </div>
</section>

<div class="imagen-light">
  <i class="fas fa-times close" aria-label="Cerrar imagen"></i>
  <img src="" alt="{{item.alt}}" class="agregar-imagen" />
</div>
