.landing{
  display: block;
  clear: both;
  content: "";
}

.landing img{
  width: min(100%, 400px);
  position: relative;
  float: right;
  margin: 1em 0 1em 1em;
  box-shadow: var(--shadow);
}


@media screen and (width <= 992px) {
  .landing img{
    display: block;
    float: none;
    margin: 0;
  }
  
}
