nav{
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 0 8px;
  background-color: rgba(250, 252, 252, 0.96);
  box-shadow: var(--shadow);
}

nav > div {
  width: min(calc(100% - 2rem), 1320px);
  margin-inline: auto;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  display: flex;
  align-items: center;
  gap: 8px;
}

nav .logo img {
  width: min(100%, 32px);
}

nav .logo span{
  display: none;
}

nav .boton{
  margin: 0;
}

@media screen and (min-width: 600px) {
  nav .logo span{
    display: block;
    font-weight: bolder;
  }
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown span{
  font-size: clamp(1.125rem, 1.089rem + 0.18vw, 1.25rem);
  color: var(--accion);
  font-weight: 900;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 10;
  border-radius: var(--radius);
}

.dropdown-content a{
  text-decoration: none;
  transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-content a:hover{
  background-color: var(--accion);
  padding: 2px 4px;
  color: white;
}

.dropdown:hover .dropdown-content{
  display: grid;
  gap: 1em;
}
