---
layout: compress
---
{% include head.html %}
<body>
    <button id="scroll-to-top" aria-label="Volver arriba" title="Volver arriba">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 15l-6-6-6 6"/>
        </svg>
      </button>
    {{ content }}


  <script>
    document.addEventListener("DOMContentLoaded", function() {
    var isMobile = /iPhone|Android|iPad|iPod|Windows Phone|webOS|BlackBerry|Opera Mini|IEMobile|Mobile/i.test(navigator.userAgent);
    var currentURL = window.location.href;
    var whatsappLinks = document.querySelectorAll("a#lead_whatsapp");
    whatsappLinks.forEach(function(link) {
        var message = "Hola! Me gustaría recibir más información de esta página: " + encodeURIComponent(currentURL);
        var mobileLink = "https://wa.me/57{{site.celular}}?text=" + message;
        var desktopLink = "https://web.whatsapp.com/send?phone=57{{site.celular}}&text=" + message;
        if (isMobile) {
            link.setAttribute("href", mobileLink);
        } else {
            link.setAttribute("href", desktopLink);
        }
    });
  });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var scrollToTopBtn = document.getElementById("scroll-to-top");
      var rootElement = document.documentElement;
      function handleScroll() {
        var scrollTotal = rootElement.scrollHeight - rootElement.clientHeight;
        if ((rootElement.scrollTop / scrollTotal) > 0.20) {
          scrollToTopBtn.classList.add("show");
        } else {
          scrollToTopBtn.classList.remove("show");
        }
      }
    
      function scrollToTop() {
        rootElement.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }
    
      scrollToTopBtn.addEventListener("click", scrollToTop);
      document.addEventListener("scroll", handleScroll);
    });
    </script>
</div>
</body>

</html>